<div class="blocktext">
<h1>タスク編集</h1>
<%= form_for(@scrap) do |f| %>

  <div><%= f.text_field :title %></div>
  <br>
  <div><%= f.text_area :content %></div>
  <div><%= f.submit %></div>
<% end %>
  <%= link_to '削除', scrap_path(@scrap), method: :delete %>
<%= link_to '戻る',scraps_path %>
</div>
