
<header>
<span>
<%= link_to scraps_path, {class: "Edit-btn", :fontsize=>"50px"} do %>
ScrapBox
<% end %>
</span>
</header>


<body>
<div class="blocktext">
<%= form_for(@scrap) do |f| %>
  <div><%= f.text_field :title %></div>
  <br>
  <div><%= f.text_area :content,:size=>"60x20" %></div>
  <div><%= f.submit %></div>
<% end %>
</div>
</body>